/* App.css — dibersihkan agar tidak bentrok dengan Tailwind */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Jika ingin background default */
body {
  background-color: #f5f6fa;
  font-family: 'Inter', sans-serif;
}
